<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magebit_AttributesViewModel">
        <!--https://devdocs.magento.com/guides/v2.4/ext-best-practices/tutorials/custom-widget.html -->
    </module>
</config>

