@import 'product/_colors.less';

/////////////////////////// custom stuff


#page-product-simple {

  //  Fonts
  @icons__font-path: '@{baseDir}fonts/OpenSans-Regular';
  @icons__font-name: 'open-sans';

  .action.primary.tocart, .actions-primary {
    background-color: @button-color;
    border: none;
    width: 100%;

    &:hover {
      background-color: darken(@button-color, 5%);
    }
  }

  // reviews
  .action.view {
    text-decoration: underline;
    color: @button-color;
  }

  // right col width
  .product-info-main {

    width: 45%;
    max-width: 560px;

  }

  // image container width
  .product.media {
    width: 55%;
  }

  .page-title {
    text-align: left;
    font: normal normal 600 32px/43px Open Sans;
    letter-spacing: 0px;
    margin-bottom: 10px;
  }

  .product-reviews-summary {
    margin-bottom: 27px;

    .reviews-actions {
      font-size: 12px;
    }
  }

  // rating stars
  .rating-summary {
    margin: 0;
  }

  // reviews link margin
  .action.view {
    margin: 0 20px 0 0;
  }

  // Add your review box
  .action.add {
    color: black;
    padding: 6px 10px 5px 10px;
    border: 1px solid #333333;
    border-radius: 2px;
    opacity: 1;
  }

  // product in stock/sku info
  .product-info-stock-sku {
    padding-left: 16px;
    padding-top: 10px;
    text-align: left;
  }

  .price-box.price-final_price {
    padding:0;
  }

  .price {
    text-align: left;
    font: normal normal 600 32px/43px Open Sans;
    letter-spacing: 0px;
    color: #575757;
  }

  .product-info-price {
    border: none;
    margin-bottom:10px;
  }


  // custom attributes box
  .product-attribute-description {
    background-color: #F9F9F9;
    width:100%;
    max-width: 560px;
    //height:148px; //to change
    padding: 20px 20px;
    box-sizing: border-box;

    .product.attribute.overview {
      font-size: 12px;
      margin:0;

      p {
        margin:0;
      }
    }

    ul {
      padding-left: 20px;
      font-size: 14px;
      margin:0;
    }

  }

  @import 'product/_relatedProducts.less';

  @import 'product/_stockInfo.less';

  @import 'product/_upsellProducts.less';

  @import 'product/_qty-counter.less';
}


@import 'product/_mobile.less';



