// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Typography
//  ---------------------------------------------

@import 'product/_buttons_extend.less';
@import 'product/_colors.less';

/////////////////////////// custom stuff


#page-product-simple {

  //  Fonts
  @icons__font-path: '@{baseDir}fonts/OpenSans-Regular';
  @icons__font-name: 'open-sans';

  .action.primary.tocart, .actions-primary {
    background-color: @button-color;
    border: none;
    width: 100%;

    &:hover {
      background-color: darken(@button-color, 5%);
    }
  }

  // reviews
  .action.view {
    text-decoration: underline;
    color: @button-color;
  }

  // right col width
  .product-info-main {

    width: 45%;
    max-width: 560px;

  }


  // image container width
  .product.media {
    width: 55%;
  }

  .page-title {
    text-align: left;
    font: normal normal 600 32px/43px Open Sans;
    letter-spacing: 0px;
  }


  .product-reviews-summary {
    .reviews-actions {
      font-size: 12px;
    }
  }

  // rating stars
  .rating-summary {
    margin: 0;
  }

  // reviews link margin
  .action.view {
    margin: 0 20px 0 0;
  }


  // Add your review box
  .action.add {
    color: black;
    padding: 6px 10px 5px 10px;
    border: 1px solid #333333;
    border-radius: 2px;
    opacity: 1;
  }

  // product in stock/sku info
  .product-info-stock-sku {
    padding-left: 16px;
    padding-top: 10px;
    text-align: left;
  }

  .price {
    text-align: left;
    font: normal normal 600 32px/43px Open Sans;
    letter-spacing: 0px;
    color: #575757;
  }

  .product-info-price {
    border: none;
  }


  // add to cart CTA T
  //.box-tocart {
  //  .action.tocart {
  //    width: 100%;
  //  }
  //}

  // custom attributes box
  .product-attribute-description {
    background-color: #F9F9F9;
    width:100%;
    max-width: 560px;
    //height:148px; //to change
    padding: 10px 20px;
    box-sizing: border-box;

    .product.attribute.overview {
      font-size: 12px;
      margin-top:0;
    }

    ul {
      padding-left: 20px;
      font-size: 14px;
      margin:0;
    }

  }


  // IN STOCK

  .stock-status-group {
    display: flex;
    flex-direction: row;
    padding-left:10px;
  }



  .stock.remaining {
    padding-left:5px;
  }

  .stock.available {
    color: #575757;
    position:relative;

    &::before {
      content: "";
      height: 8px;
      width: 11px;
      display: inline-block;
      background-image: url('../images/checkmark.svg');
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  // upsell

  .block.upsell {

    // TODO something wrong with block size.
    .block-title.title {
      border-bottom: 1px solid #C2C2C2;
      padding-bottom:8px;
      margin:0;
    }

    .products.wrapper.grid.products-grid.products-upsell {
      margin:0;
    }

    .products.list.items.product-items {
      padding:0;
      margin:0;
    }

    .item.product.product-item {
      width: 100%;
      margin-bottom:170px; //allignment hack

      .product-item-info {
        width: 100%;
        display: flex;
        flex-direction: row;

        &:hover{
          box-shadow: none;
          border: 0;
          margin: 0;
          padding: 0;
        }
      }

      .product.details.product-item-details {
        padding-top: 10px;
        padding-left:10px;
      }

      .product-item-link {
        font: normal normal 600 16px/22px Open Sans;
      }

      .product-reviews-summary.short {
        margin-bottom: 20px;
      }

      .price {
        font: normal normal 600 18px/24px Open Sans;
      }

      .button-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
      }

      .button.product-upsell-view {
        text-decoration: none;
        font-size:14px;
        background-color: #333333;
        color:white;
        border-radius: 2px;
        width: 109px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  // Related
  .block.related {
    float: right;
    width: 100%;
    min-height: 600px;

    .block-title.title {
      margin-bottom:20px;

      #block-related-heading {
        font: normal normal 600 24px/33px Open Sans;
      }
    }

    .block-content.content {
      border-top: 1px solid #C2C2C2;
    }

    .products.list.items.product-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    // related hover effect:
    .product-item-info:hover {
      box-shadow: 0px 0px 8px #00000029;
    }

    .product-item-info.related-available {
      width: 100%;
      min-height: 417px;
      min-width: 224px;
    }


    .item.product.product-item {
      max-width: 224px;
    }

    .product.name.product-item-name {
      margin:0;
      font: normal normal 600 16px/22px Open Sans;
    }

    .product-reviews-summary.short {
      margin: 0;
    }

    .price-box.price-final_price {
      margin: 10px 0px;
    }

    .price {
      font: normal normal bold 22px/30px Open Sans;
      color:#333333;
    }

    .product.actions.product-item-actions {
      margin: 0 0 10px;
    }

    .action.tocart.primary {
      padding: 0;
      height: 52px;
      font: normal normal 600 18px/24px Open Sans;
      display: none;
    }

    .product-item-info:hover .action.tocart.primary {
      display:block;
    }

  }

  // custom qty block

  #custom-qty {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .custom-counter-input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;

    .custom-counter-input-group__input, .custom-counter-input-group__button {
      border: 1px solid #C2C2C2;
      height: 52px;
      margin: 0;
      padding:0;
      text-align: center;
    }

    .custom-counter-input-group__input {
      width: 86px;
      border-left: 0px;
      border-right: 0px;

      &:focus{
        box-shadow: none;
      }

    }

    .custom-counter-input-group__button,.custom-counter-input-group__addon {
      background-color: #ffffff;
      width: 52px;
    }

    .custom-counter-input-group__button--decrease {
      border-radius: 2px 0px 0px 2px;
      background-image: url('../images/decrease.svg'); // todo redefine basedir
      background-repeat: no-repeat;
      background-position: center;
    }

    .custom-counter-input-group__button--increase {
      border-radius: 0px 2px 2px 0px;
      background-image: url('../images/increase.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  #page-product-simple {

      .column.main {
        align-items:center;
      }

      .product-info-main, .product.media {
        width: 90% !important; //hack, dont do this at home. didnt start out mobile.
      }

      .stock-status-group {
        flex-direction: column !important;
        align-items: flex-start;
        justify-content: center;
      }

    .item.product.product-item {
      margin:0 !important;
    }

    .product-item-info.related-available {
      min-width: 0 !important;
    }

    .block.related {
      min-height: 0 !important;
    }

    }
}



