<!--https://meetanshi.com/blog/add-quantity-increment-and-decrement-button-in-magento-2/-->

<div class="custom-counter-input-group">
    <span class="custom-counter-input-group__addon">
        <button click="decreaseQty" class="custom-counter-input-group__button custom-counter-input-group__button--decrease">
            <span class="custom-counter-input-group__icon custom-counter-input-group__icon--decrease"></span>
        </button>
    </span>

    <input change="validateData" data-bind="value: qty, event: {change :validateData()}, attr: {'data-validate': getDataValidator()} "
           type="number"
           name="qty"
           id="qty"
           maxlength="12"
           class="custom-counter-input-group__input"/>

    <span class="custom-counter-input-group__addon">
        <button click="increaseQty" class="custom-counter-input-group__button custom-counter-input-group__button--increase">
            <span class="custom-counter-input-group__icon custom-counter-input-group__icon--increase"></span>
        </button>
    </span>
</div>